<h2>All Artists</h2>
<div>
  <label>Artist name:</label><input #artistName />
  <label>Artist picture:</label><input #picture />
  <button (click)="add(artistName.value, picture.value); artistName.value=''; picture.value='' ">
    Add
  </button>
</div>
<ul class="artists">
  <li *ngFor="let artist of artists" [class.selected]="artist === selectedArtist" (click)="onSelect(artist)">
    {{artist.fullName}}
  </li>
</ul>
<div *ngIf="selectedArtist">
  <h2>
    More about {{selectedArtist.fullName | uppercase}}
  </h2>
  <button (click)="goToFanPage()">Go To Fan's Page</button>
</div>
